<div id="subPageNav" class="subPageNav hideMenu">
    <div class="showNav"> <div class="arrow rArrow"></div> </div>
  <ul>
    <li><a routerLinkActive="active" routerLink="r_createReservation">Create Reservation<span></span></a></li>
    <li><a routerLinkActive="active" routerLink="r_viewReservation">View Reservation<span></span></a></li>
    <li><a routerLinkActive="active" routerLink="r_batchReservation">Batch Reservation<span></span></a></li>
    <li><a routerLinkActive="active" routerLink="r_quickDispatch">Quick Dispatch<span></span></a></li>
    <li><a routerLinkActive="active" routerLink="r_actionRequired">Action Required<span></span></a></li>
  </ul>
  <div class="clear"></div>
</div>
