<div id="breadcrumb" class="breadcrumb breadcrumbR">
  <a routerLinkActive="active" routerLink="r_createReservation">Create Reservation<span></span></a>
  <a routerLinkActive="active" routerLink="r_viewReservation">View Reservation<span></span></a>
  <a routerLinkActive="active" routerLink="r_batchReservation">Batch Reservation<span></span></a>
  <a routerLinkActive="active" routerLink="r_quickDispatch">Quick Dispatch<span></span></a>
  <a routerLinkActive="active" routerLink="r_actionRequired">Action Required<span></span></a>
</div>
