<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 padding_left_0 f_left">
    <a class="navbar-brand" href="javascript:;"> <img src="assets/images/logo.png" alt="" > </a>
    <span class="lbl-welcomeMessage">Welcome, <span class="lbl-welcomeLabel">Jignesh Patel</span></span>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 padding_left_0 padding_right_0 f_left">
    <div class="headerButtonControl">
      <a [routerLink]="['/login']" class="btn btn-default btn-small">Login</a>
      <span class="btn-w-separator"></span>
      <button class="btn btn-default btn-small" type="button"> Help </button>
      <span class="btn-w-separator"></span>
      <button class="btn btn-default btn-small " type="button">
    Logout
  </button>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
<app-top-nav></app-top-nav>
<div class="clear"></div>
