<form class="form-signin" #loginForm="ngForm" (ngSubmit)="signIn(loginForm.value)">
    <app-loading-spinner [loading]="isLoading"></app-loading-spinner>
  <div id="loginContainer">
    <h1>FASTER MotorPool - Operations Portal</h1>
    <div id="loginBox">
      <div class="loginLeft"> <img src="assets/images/LargeLogo.png" class="img-fluid" /> </div>
      <div class="loginRight">
        <h2>Sign in</h2>
        <div class="inputGroup">
          <label class="label">Username:</label>
          <input id="txtUsername" name="UserName" type="text" ngModel class="form-control" placeholder="User Name" required autofocus />
          <span class="reqLabel">*</span>
          <span id="UsernameMessage" style="display:none" class="field-validation-error">Username is Required</span>
        </div>
        <div class="inputGroup">
          <label class="label">Password:</label>
          <input id="txtPassword" name="password" type="password" ngModel class="form-control" placeholder="Password" required />
          <span class="reqLabel">*</span>
          <span id="PasswodMessage" style="display:none" class="field-validation-error">Password is Required</span>
        </div>
        <div class="inputGroup">
          <button id="SigninButtom" name="SigninButtom" type="submit" class="btn btn-default">Sign in</button>
          <a id="lostPwd" name="lostPwd" href="javascript:;" style="display:none;">I forgot my password</a>
        </div>
        <div *ngIf="invalidLogin" class="alert alert-danger" role="alert">
            Invalid username and/or password.
          </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</form>
