<div class="topNav">
  <nav class="navbar navbar-default navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngxPermissionsOnly="['home']"> <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">Home<span class="sr-only">(current)</span></a> </li>
          <li class="nav-item" *ngxPermissionsOnly="['reservation']"> <a class="nav-link" routerLinkActive="active" [routerLink]="['/reservation']">Reservation</a> </li>
          <li class="nav-item" *ngxPermissionsOnly="['calendar']"> <a class="nav-link" routerLinkActive="active" [routerLink]="['/calendar']">Calendar</a> </li>
          <li class="nav-item" *ngxPermissionsOnly="['accounting']"> <a class="nav-link" routerLinkActive="active" [routerLink]="['/accounting']">Accounting</a> </li>
          <li class="nav-item" *ngxPermissionsOnly="['setup']"> <a class="nav-link" routerLinkActive="active" [routerLink]="['/setup']">Setup</a> </li>
          <li class="nav-item" *ngxPermissionsOnly="['reports']"> <a class="nav-link" routerLinkActive="active" [routerLink]="['/reports']">Reports</a> </li>
        </ul>
    </div>
  </nav>
</div>
